body {
    color: blue;
}
#front {
    width: 920px;
    height: 1168px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    left: 180px;
    top: 1px;
}
#cara {
    width: 700px;
    height: 898px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    left: 300px;
    top: 1120px;
    mix-blend-mode:luminosity;
    
}
#info {
    position: fixed;
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    left: 20px;
    top: 10px;
    font-weight: 700;

}
#homelogo {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 580px;
    top: -1px;
}